@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-background: #FDF9EC;
  --color-primary: #10183A;
  --color-element-background: #FAEBC5;
  --color-hover-1:#FEADD2;
  --color-hover-2:#D8D800;
  --color-hover-3:#FFDF2B;
  --color-hover-4:#EDBBF9;
  --color-hover-5:#FFBE81;
  --color-pink: #F889E7;
}

body {
  background-color: var(--color-background);
  font-family: "Figtree", sans-serif;
}

.navbar {
  padding: 10px 20px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar h1 {
  font-weight: 500;
  color: var(--color-primary);
}
.navbar nav .navlinks {
  display: none;
}
@media (min-width: 768px) {
  .navbar nav .navlinks {
    display: flex;
  }
  .navbar nav .navlinks ul {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  .navbar nav .navlinks ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: var(--color-element-background);
    border-radius: 50px;
    width: -moz-max-content;
    width: max-content;
    padding: 5px 20px;
  }
  .navbar nav .navlinks ul li a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
    font-size: 1.1rem;
  }
  .navbar nav .navlinks ul .work:hover {
    background-color: var(--color-hover-1);
  }
  .navbar nav .navlinks ul .services:hover {
    background-color: var(--color-hover-2);
  }
  .navbar nav .navlinks ul .meet:hover {
    background-color: var(--color-hover-3);
  }
  .navbar nav .navlinks ul .FAQ:hover {
    background-color: var(--color-hover-4);
  }
  .navbar nav .navlinks ul .CTA:hover {
    background-color: var(--color-hover-5);
  }
}
.navbar nav .lines {
  display: flex;
  color: var(--color-primary);
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}
.navbar nav .lines .line {
  width: 22px;
  height: 3px;
  background-color: #10183A;
}
@media (min-width: 768px) {
  .navbar nav .lines {
    display: none;
  }
}
@media (min-width: 768px) {
  .navbar {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .navbar h1 {
    font-size: 5.6rem;
    font-weight: 600;
  }
}
@media (min-width: 1024px) {
  .navbar h1 {
    font-size: 7.5rem;
  }
}
@media (min-width: 1440px) {
  .navbar h1 {
    padding: 0px;
    font-size: 10.78rem;
  }
}

.view-1 {
  position: relative;
  display: flex;
  background-color: var(--color-pink);
  border-radius: 40px;
  margin: 20px;
  padding: 40px 30px;
  height: 25vh;
}
.view-1 .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
.view-1 .content .heading {
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.view-1 .content .heading h2 {
  font-size: 2.35rem;
  font-weight: 600;
}
.view-1 .content .heading p {
  font-size: 1.06rem;
}
.view-1 .content .button button {
  display: flex;
  gap: 15px;
  border-radius: 40px;
  background-color: var(--color-primary);
  color: #FDF9EC;
  padding: 20px;
  font-family: "Figtree", sans-serif;
  width: 200px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.view-1 .image {
  overflow-y: hidden;
  position: absolute;
  z-index: 100;
  right: -100px;
  bottom: -130px;
  overflow: hidden;
}
.view-1 .image img {
  overflow: hidden;
  width: 280px;
  rotate: 35deg;
}

.view-2 {
  margin: 20px;
  border-radius: 40px;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("images/sQg7GSarPJc6AwCw87h5jbShME.png");
}

.view-3 {
  background-color: var(--color-hover-2);
  margin: 20px;
  border-radius: 40px;
  padding: 60px 40px;
}
.view-3 .marquee {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}
.view-3 .marquee .marquee-list {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.view-3 .marquee .marquee-list p {
  width: 100%;
}
.view-3 .marquee .marquee-list p img {
  width: 20%;
}/*# sourceMappingURL=style.css.map */