@font-face {
  font-family: Satoshi;
  src: url("../font/Satoshi_OTF/Satoshi-Light.otf");
}
@font-face {
  font-family: Mauline;
  src: url("../font/Mauline.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #0e0e0e;
  color: #EDD6B6;
  font-family: Satoshi;
}
.view-1 {
  width: 100%;
  // background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  justify-content: center;
  position: relative;
  // overflow-x: hidden;
  img {
    width: 80%;
    margin: auto;
    object-fit: cover;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  h1 {
    z-index: 2;
    text-align: center;
    font-size: 3.5rem;
    line-height: 1;
    letter-spacing: 0rem;
    font-weight: 100;
  }
  p {
    z-index: 2;
    text-align: center;
    font-size: 1.2rem;
    padding: 0rem;
    margin: 1rem 0rem;
    line-height: 1.6;
    opacity: 0.6;
    br {
      display: none;
    }
  }
  .service {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    z-index: 2;
    .image {
      // background-color: aqua;
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid;
      border-radius: 50%;
      display: flex;
      text-align: center;
      background-color: #181716;
      transition: all 0.1s ease-in-out;
    }
    .image:hover {
      background-color: #232220;
    }
    img {
      height: 1.2rem;
      width: 1rem;
    }
    p {
      font-size: 0.8rem;
      letter-spacing: 2px;
      opacity: 100;
    }
  }
  //laptops

  //tablets
  @media (min-width: 768px) {
    img {
      width: 55%;
    }
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.5rem;
      br {
        display: block;
      }
    }
  }
  @media (min-width: 1025px) {
    // html {
    //   font-size: clamp(16px, 1vw, 20px);
    // }
    img {
      width: 37%;
    }
    h1 {
      font-size: 8rem;
    }
    p {
      font-size: 1.5rem;
      br {
        display: block;
      }
    }
  }
}

.view-2 {
  width: 100%;
  // height: 200px;
  display: flex;
  justify-content: center;
  // padding: 2rem 3rem;

  .marquee {
    display: flex;
    width: 90%;
    overflow: hidden;
    position: relative;
    min-width: 100%;

    &::before {
      content: "";
      height: 100%;
      width: 20%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right, #0e0e0e, transparent);
      z-index: 1;
    }
    &::after {
      content: "";
      height: 100%;
      width: 20%;
      position: absolute;
      top: 0;
      right: 0;
      background-image: linear-gradient(to left, #0e0e0e, transparent);
      z-index: 1;
    }

    .image-wrapper {
      display: flex;
      gap: 3rem;
      // padding: 0 1.5rem;
      animation: marquee 8s linear infinite both;
      width: max-content;

      img {
        height: 2rem;
        // flex-shrink: 0;
      }
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.view-3 {
  width: 100%;
  margin-top: 4rem;
  // background-color: aliceblue;
  .flex-container {
    width:100%;
    display: flex;
    flex-direction: column;
    padding:3rem 2rem;
    gap: 20px;
  }
  .card {
    border: 2px solid rgba(245, 222, 179, 0.074);
    margin: auto;
    // width:140%;
    padding:1rem 2rem;
    border-radius: 0.2rem;
    background-color: #1e1c1b;

    .small-num {
      font-size: 1rem;
      opacity: 0.6;
    }
    h1 {
      padding: 0.5rem 0rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 100;
    }
    p {
      font-size: 1rem;
      line-height: 1.6;
    }
    .link {
      padding-top: 2rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      a {
        text-decoration: none;
        color: wheat;
        font-size: 1rem;
        // letter-spacing: 0.2rem;
      }
      img {
        width: 80%;
        margin: auto;
        object-fit: cover;
        position: sticky;
        top: 0;
        z-index: 1;
      }
      .image {
        // background-color: aqua;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid;
        border-radius: 50%;
        display: flex;
        text-align: center;
        background-color: #181716;
        transition: all 0.1s ease-in-out;
      }
      .image:hover {
        background-color: #232220;
        // background-image: url('image/');
      }
      img {
        height: 1.2rem;
        width: 1rem;
      }
    }
  }
  @media (min-width: 1025px) {
    .flex-container {
      display: flex;
      flex-direction: row;
      gap:40px;
      // background-color: darkblue;
      width: 90%;
      margin: auto;

      .card{
        width:100%;
        height: 100%;
        padding:4rem 2rem;
        background-color: #181716;
      }
      h1{
        font-size:2rem;
      }
      p{
        font-size: 1.1rem;
        // padding:rem 0rem
      }
    }
  }
}


.view-4{
  width:100%;
  // display: flex;
  padding:2rem;
  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h1{
      padding-left: 2rem;
      font-size: 2.5rem;
      font-weight: 100;
    }
    .links{
      display: flex;
      justify-content: center;
      gap:1rem;

      img{
        width:1.5rem;
      }
      p{
        font-size: 1.3rem;

      }
    }
  }
  @media(min-width:1024px){
    .view-4{
      display: block;
    }
    .header{
      width:90%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .links{
      justify-content: end;
      width:20%;
    }
  }
}